.header {
  width: 98%;
  display: flex;
  align-items: center;
  margin: 1% auto 3%;
  border-radius: 10px;
  color: #bdbdc2;
  background-color: #272742;
  font-family: sans-serif;
  padding: 1%;
}
.nav {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}
.nav p {
  font-style: italic;
  font-family: cambria, sans-serif;
}
